<h1>ArrangeAnything</h1>
<h2 id="banner"> Welcome {{username}}: these are the events for {{pathUser}}</h2>

<ul>
    {{#each events}}
        <li class="event-title">{{title}}</li>
        <li class="event-date">{{date}}</li>
    {{/each}}
</ul>